* {
  padding: 0px;
  margin: 0px;
}

#header{
  margin:auto;
  font-family:Arial, Helvetica, sans-serif;
}

ul,ol{
  list-style:none;
}

.nav li a{
  color:#fff;
  text-decoration:none;
  padding:10px 15px;
  display:block;
}

.nav li a:hover{
  background-color:#434343;
}

.nav > li{
  float:left;
}

.nav li ul{
  display:none;
  position:absolute;
  min-with: 140px;
}

.nav li:hover > ul{
  display:block;
}

.nav li ul li {
  position:relative;
}

.nav li ul li ul{
  right: -200px;
  top: 0px;
}
.mbar{
  background-color:#222;
}
