* {
  padding: 0;
  margin: 0;
}

#header {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

ul,
ol {
  list-style: none;
}

.nav {
  width: 500px;
  margin: 0 auto;
}

.nav li a {
  background-color: #222;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.nav li a:hover {
  background-color: #434343;
}

.nav > li {
  float: left;
  position: relative;
}

.nav li ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}

.nav li:hover > ul {
  display: block;
}

.nav li ul li {
  position: relative;
}

.nav li ul li ul {
  left: 100%;
  top: 0;
}

/* Agrega espacio entre h1 y h2 */
h1, h2 {
  margin-top: 20px;
}
